<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" media="screen" href="{{STATIC_URL}}css/biopy.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
             {% block title %}
             {% endblock %}
        </title>
    </head>

    <body>
        <div class="container content_block">
            <div class="row">

                <div class="col-md-4">
                </div>

                <div class="col-md-4" id="center_content">
                    <img src="{{ STATIC_URL }}img/py_logo.png" />
                    {% block content %}
                    {% endblock %}
                </div>

                <div class="col-md-4"></div>

            </div>
         </div>

         <footer class="footer">
             Copyright <a href="">Pykafe Group</a> 2015
         </footer>
    </body>
</html>
