{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
    <a href="/"><i class="ion-android-arrow-back"></i> {% trans "Back" %}</a>
    <div class="login-box">
        <div class="text-center">
        <img class="login-logo"src="/static/img/issue_ticket.png" alt="" />
            <h3>{% trans "Reset your password" %}</h3>
        </div>
        <form method="post" action=".">
          {% csrf_token %} 
          {{ form.as_p }}
        
          <input type="submit" class="btn btn-primary "value="{% trans 'Submit' %}" />
        </form>
    </div>
</div>

{% endblock %}
