Pillow==2.9.0
behave==1.2.5
decorator==4.0.4
Django==1.8.6
django-behave==0.1.5
django-endless-pagination==2.0
django-flat-theme==1.1.1
django-haystack==2.4.1
django-registration-redux==1.2
django-rosetta==0.7.6
djangorestframework==3.2.4
enum34==1.1.1
factory-boy==2.6.0
fake-factory==0.5.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
microsofttranslator==0.5
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
polib==1.0.7
ptyprocess==0.5
pudb==2015.4.1
Pygments==2.0.2
requests==2.8.1
selenium==2.48.0
simplegeneric==0.8.1
six==1.10.0
splinter==0.7.3
traitlets==4.0.0
urwid==1.3.1
Whoosh==2.7.0

