{% extends 'members/base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete' %}
{% endblock %}

{% block content %} 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if member.id != user.id %}
                        <p>{% trans 'Are you sure you want to delete ' %}"{{ object }}"?</p>
                        <button id="submit" class="btn btn-danger">{% trans 'Confirm' %}</button>
                        {% elif member.id = user.id %}
                        <p>{% trans 'you dont delete your self' %}  "{{ object }}"?</p>
                        <a href="{% url 'list' %}"  id="submit" class="btn btn-primary">{% trans 'Members' %}</a>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>            
{% endblock %}
