{% extends 'members/base.html' %}

{% block title %}
    Edit
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizantal" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-6">
                        {{ form.job_title.label_tag }}
                        {{ form.job_title }}
                        {{ form.job_title.errors }}
                    </div>

                    <div class="col-md-12">
                        {{ form.bio_text.label_tag }}
                        {{ form.bio_text }}
                        {{ form.bio_text.errors }}
                    </div>

                    <div class="col-md-12">
                        {{ form.photo.label_tag }}
                        {{ form.photo }}
                        {{ form.photo.errors }}
                        <button id="submit" class="btn btn-primary">Submit</button>
                    </div>
                        {{ form.non_field_errors }}
                </form>
            </div>
            <div class="col-md-6">
                {% if object.photo %}
                    <img src="{{ object.photo.url}}" class="img-circle circle-border" width=200 height=200/>
                {% endif %}
                <p class="person-name">{{ user.get_full_name }}</p>
                <p class="person-position">{{ user.job_title }}</p>
                <p class="person-about">{{ user.bio_text }}</p>
            </div>
        </div>
    </div>
{% endblock %}
