{% extends 'members/base.html' %}
{% load i18n %}
{% load pykafe_filters %}
{% block title %}
    {% trans ' List' %}
{% endblock %}

{% block content %} 
         
        <div class="container">
            <div class="row">
            <div class="col-md-9">
                <a href="{% url 'create' %}"><button class="btn btn-primary">{% trans 'New Member' %}</button></a>
            </div>
            <div class="col-md-3">
                <form action="." method="Get">
                   {{ search_form.q|add_attributes:'placeholder:Search...' }}
                </form>
            </div>
            </div>
                {% include page_template %}

        </div>  
            <script type="text/javasscript">
    $.endlessPaginate({
        paginateOnScroll: true,
    });
            </script>
{% endblock %}   
