<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
<h2>Login</h2>

        {% block content %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            {% if login_failed %}
                <p>Ita nia username no password la existe. Favor koko dala ida tan.</p>
            {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">Username:</div>
            <div class="col-md-6"><input type="text" name="username" value="{{ username }}" /></div>
        </div>
        <div class="row">
            <div class="col-md-4"> Password:</div>
            <div class="col-md-6"><input type="password" name="password" value="{{ password }}" /></div>
        </div>
        <div class="row">
            <div class="col-md-4"><button id="login_button">Login</button></div>
        </div>
    </div>
	    </form>
	{% endblock %} 
