<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>

        {% block content %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>Login</h2></br>
            {% if login_failed %}
                 <p>Ita nia username no password la existe. Favor koko dala ida tan.</p>
            {% endif %}
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">Username:</div>
            <div class="col-md-1"><input type="text" name="username" value="{{ username }}" /></div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"> Password:</div>
            <div class="col-md-1"><input type="password" name="password" value="{{ password }}" /></div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"><button id="login_button">Login</button></div>
            <div class="col-md-6"></div>
        </div>
    </div>
	    </form>
	{% endblock %} 
